{% extends 'base.html' %}
{% load markdownify %}
{% block content %}
    <main>
        <div class='project-detail'>
            <h1>{{ project }}</h1>
            <p>
                {{ project.description|markdownify }}
            </p>
            <h2>Tasks</h2>
            <p>
                <a href="{% url 'create_task' %}">Create a new task</a>
            </p>
            {% if project.tasks.all %}
                <table>
                    <thead>
                        <tr>
                            <th colspan='2'>Name</th>
                            <th colspan='2'>Assignee</th>
                            <th colspan='2'>Start date</th>
                            <th colspan='2'>Due date</th>
                            <th colspan='2'>Is completed</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for task in project.tasks.all %}
                            <td colspan='2'>{{ task }}</td>
                            <td colspan='2'>{{ task.assignee }}</td>
                            <td colspan='2'>{{ task.start_date }}</td>
                            <td colspan='2'>{{ task.due_date }}</td>
                            <td colspan='2'>{{ task.is_completed | yesno }}</td>
                        {% endfor%}
                    </tbody>
                </table>
            {% else %}
                <p>This project has no tasks</p>
            {% endif %}
        </div>
    </main>
{% endblock content %}